/* Assets - Start */
@import "./_variables.scss";
/* Assets - End */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
    list-style: none;

    font-family: monospace;
    font-size: 1.04em;

    transition: all 0.15s;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    background-color: $black;
    background-image: url("https://raw.githubusercontent.com/FletcherHub/portfolio/4a1190d7b34419348cfa0ed081bbf5779e3381a8/assets/icons/squares.svg");
    background-attachment: fixed;
}

span {
    color: $primary-color;
}