$primary-color: #C778DD;
$gray: #ABB2BF;
$black: #000000;
$white: #ffffff;

.active {
    color: $white;
    border-bottom: 1px dotted $primary-color;
}

.inative {
    color: $gray;
}

.large-separator {
    height: 1px;
    width: 60%;
    margin-left: 10px;

    background-color: $primary-color;
}

.medium-separator {
    height: 1px;
    width: 35%;
    margin-left: 10px;

    background-color: $primary-color;
}