/* Assets - Start */
@import "../assets/_variables.scss";
/* Assets - End */

* {
    color: $white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    width: 100vw;

    height: 10vh;

    background-color: $black;
    border-bottom: 1px solid $gray;

    box-shadow: 1px 1px 30px $black;

    div#logo {
        margin-left: 5%;
        display: flex;

        img{
            cursor: pointer;
        }

        p{
            cursor: pointer;
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    nav {
        margin-right: 5%;
        ul {
            display: flex;

            li {
                display: flex;
                align-items: center;

                cursor: pointer;
                margin-left: 20px;

                span {
                    cursor: pointer;
                    color: $primary-color;
                    margin-right: 2px;
                }

                p {
                    cursor: pointer;
                    font-weight: 550;
                }
            }
        }
    }

}