/* Assets - Start */
@import "../assets/_variables.scss";
/* Assets - End */

section#about {
    margin: 0px 10%;
    margin-top: 60px;

    div#title {
        display: flex;
        align-items: center;
    
        font-size: 1.6em;
        margin-bottom: 40px;
    }

    div#about-container {
        display: flex;
    
        width: 95%;
        height: auto;

        div#left {
            width: 50%;

            p {
                color: $gray;
                font-size: 1.2em;
                margin-top: 20px;
            }
        }

        div#right {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        
            width: 50%;

            img {
                width: 50%;
            }

            div#img-bottom-line {
                width: 50%;
                height: 3px;
                border: 1px solid $primary-color;
            }
        }
    }
    
}