/* Assets - Start */
@import "../assets/_variables.scss";
/* Assets - End */

section#start {
    display: flex;
    align-items: center;

    height: 50vh;
    margin: 10% 10%;

    div#left-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 100%;

        h1 {
            font-size: 2.8em;
        }

        p {
            color: $gray;
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 1.1em;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100px;

            border: 1px solid $primary-color;
            border-radius: 10px;
            padding: 10px;
        
            cursor: pointer;

            &:hover {
                background-color: $primary-color;
            }
        }

    }

    div#right-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        height: 100%;
        width: 50%;

        img {
            width: 70%;
        }
    }
}